@model List<UserViewModel>;
@{
    ViewData["Title"] = "UserList";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">User List</h1>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success text-center" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Assign</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td><user-roles user-id="@item.Id"></user-roles></td>
                            <td>@item.PhoneNumber</td>
                            <td>
                                <a class="btn btn-warning" asp-action="AssignRole" asp-controller="Roles" asp-route-userId="@item.Id">Roles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>