@model UserProfileViewModel;
@{
    ViewData["Title"] = "Index";

}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .profile-edit-card {
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .profile-edit-card-header {
        background-color: #f7f5f5;
        color: white;
        border-radius: 15px 15px 0 0;
        padding: 20px;
    }

    .profile-edit-card-body {
        padding: 20px;
    }

    .image-upload > input {
        display: none;
    }

    .image-upload {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .image-container img {
        width: 100%;
        height: 100%;
    }

    .change-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .image-upload:hover .change-button {
        display: block;
    }

    .profile-image{
        width:175px;
        height:175px;
    }

</style>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card profile-edit-card">
                <div class="card-header profile-edit-card-header text-center">
                    <h2 class="h1" style="color:black;">Edit Profile</h2>
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success text-center" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <div class="card-body profile-edit-card-body">
                    <form method="post" asp-controller="Profile" asp-action="UpdateUserProfile" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-5 image-upload mx-auto">
                                <label for="file-input">
                                    <user-picture image-url="@Model.ShowPicture" gender="@Model.Gender!.Value" class="rounded mx-auto d-block profile-image"></user-picture>
                                   @*  @if (String.IsNullOrEmpty(Model.ShowPicture))
                                    {
                                        if ((int)Model!.Gender! == 1)
                                        {
                                            <img class="rounded mx-auto d-block profile-image" src="~/img/avatars/female-avatar-removebg-preview.png" />
                                        }
                                        if ((int)Model!.Gender! == 0)
                                        {
                                            <img class="rounded mx-auto d-block profile-image" src="~/img/avatars/male-avatar.png" />
                                        }
                                    }
                                    @if (!String.IsNullOrEmpty(Model.ShowPicture))
                                    {
                                        <img class="rounded mx-auto d-block profile-image" src="~/img/user-profile-pictures/@Model.ShowPicture" />
                                    } *@
                                </label>
                                <input type="file" class="form-control change-button" id="file-input" value="@Model.Picture" asp-for="Picture">
                                @* <button class="btn btn-success ">Change Image</button> *@
                            </div>
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" value="@Model.Name" asp-for="Name">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" value="@Model.Email" asp-for="Email">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="phoneNumber" value="@Model.PhoneNumber" asp-for="PhoneNumber">
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="city" class="form-label">City</label>
                                    <input type="text" class="form-control" value="@Model.City" asp-for="City">
                                    <span class="text-danger" asp-validation-for="City"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="birthDate" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" value="@Model.BirthDate" asp-for="BirthDate" asp-format="{0:MM-dd-yyyy}">
                                    <span class="text-danger" asp-validation-for="BirthDate"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" data-toggle="dropdown"></select>
                                    <span class="text-danger" asp-validation-for="Gender"></span>
                                </div>
                                <button type="submit" class="btn btn-outline-success w-100">Update Profile</button>
                                <a class="btn btn-link float-end mt-1" asp-controller="Profile" asp-action="ChangePassword">To Update Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
